@model BusinessLogic.Adaptor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Adaptor</h4>
<form asp-action="Edit">
    <div class="row">

        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssociationId" class="control-label"></label>
                @Html.DropDownListFor(model => model.AssociationId,ViewBag.associationData as SelectList ,"--Select Name--",new  { @class = "form-control" })
                <span asp-validation-for="AssociationId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ParticipantId,ViewBag.ParticipantData as SelectList ,"--Select Name--",new  { @class = "form-control" })
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AdaptorTypeId" class="control-label"></label>
                @Html.DropDownListFor(model => model.AdaptorTypeId,ViewBag.AdaptorType as SelectList ,"--Select Name--",new  { @class = "form-control" })
                <span asp-validation-for="AdaptorTypeId" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IsServer" class="control-label"></label>
                <input asp-for="IsServer" class="form-control" />
                <span asp-validation-for="IsServer" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AllowedIp" class="control-label"></label>
                <input asp-for="AllowedIp" class="form-control" />
                <span asp-validation-for="AllowedIp" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TimeoutInSec" class="control-label"></label>
                <input asp-for="TimeoutInSec" class="form-control" />
                <span asp-validation-for="TimeoutInSec" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsActiveNew" />
                    IsActive
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>


    @*</div>*@
    @* <div class="col-md-4">
    <div class="form-group">
    <label asp-for="CreatedBy" class="control-label"></label>
    <input asp-for="CreatedBy" class="form-control" />
    <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
    <label asp-for="UpdatedBy" class="control-label"></label>
    <input asp-for="UpdatedBy" class="form-control" />
    <span asp-validation-for="UpdatedBy" class="text-danger"></span>

    </div>
    </div>*@




    @*<div class="row">
    <div class="col-md-4">
    <div class="form-group">
    <label class="checkbox-inline">
    <input type="checkbox" asp-for="IsActiveNew" />
    IsActive
    </label>
    <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    </div>
    *@

    @*</div>
    *@

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="adaptorList">Back to List</a>
</div>

