@model BusinessLogic.RuntimeFieldsCustomization

@{
    ViewData["Title"] = "AddRuntimeFieldsCustomization";
}

<h1>AddRuntimeFieldsCustomization</h1>

<h4>RuntimeFieldsCustomization</h4>
<form asp-action="AddRuntimeFieldsCustomization">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ParticipantId,ViewBag.ParticipantData as SelectList ,"--Select Name--",new  { @class = "form-control" })
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TransactionIdentifierId" class="control-label"></label>
                @Html.DropDownListFor(model => model.TransactionIdentifierId, ViewBag.IdentifierData as SelectList ,"--Select Name--",new  { @class = "form-control" })
                <span asp-validation-for="TransactionIdentifierId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sequence" class="control-label"></label>
                <input asp-for="Sequence" class="form-control" />
                <span asp-validation-for="Sequence" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="InternalFieldId" class="control-label"></label>
                <input asp-for="InternalFieldId" class="form-control" />
                <span asp-validation-for="InternalFieldId" class="text-danger"></span>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="AddRuntimeFieldsCustomizationList">Back to List</a>
</div>

