@model BusinessLogic.EncodingType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EncodingType</h4>
<form asp-action="Edit">
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
 

<div>
    <a asp-action="EncodingList">Back to List</a>
</div>

