@model BusinessLogic.ResponseCodeMapping

@{
    ViewData["Title"] = "ResponeCodesMapping";
}

<h1>ResponeCodesMapping</h1>

<h4>ResponseCodeMapping</h4>
<form asp-action="ResponeCodesMapping">
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExternalResponseCode" class="control-label"></label>
                <input asp-for="ExternalResponseCode" class="form-control" />
                <span asp-validation-for="ExternalResponseCode" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="InternalResponseCode" class="control-label"></label>
                <input asp-for="InternalResponseCode" class="form-control" />
                <span asp-validation-for="InternalResponseCode" class="text-danger"></span>
            </div>
            </div>
    </div>
@*
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            </div>
       </div>
    <div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            </div>
      </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
  

<div>
    <a asp-action="ResponeCodesList">Back to List</a>
</div>

